<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <nav class="navbar navbar-expand-sm bg-light">

                <!-- Links -->
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="/index">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/view">View message</a>
                  </li>
                </ul>
                <li class="nav-item">
                    <a class="nav-link" href="/search">Search</a>
                  </li>
              
              </nav>
              
    <div class="container">
        <div class="row">
            <div class="col">
               
                <table>
                    <% for(var i=0;i<data.length;i++){ %>
                    <tr><th>Name</th><td><%= data[i].name %></td></tr>
                    <tr><th>mail id</th><td><%= data[i].mailid %></td></tr>
                    <tr><th>Phone number</th><td><%=data[i].phone %></td></tr>
                    <tr><th>Message</th><td><%= data[i].message %></td></tr>
                   
                    <% } %>
                </table>
               
            </div>
        </div>
    </div>
</body>
</html>